# Build directories
build/
cmake-build-*/

# Compiled binaries
*.o
*.obj
*.out
*.exe

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
CTestTestfile.cmake
_install/

# JetBrains IDEs
.idea/
*.iml

# macOS
.DS_Store